<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DigiSalud"
       connectionString="Data Source=(local);
		 Initial Catalog=DigiSaludDesk; User Id=sa;
		 Password=fnsp;Connection Timeout=180;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>